/*This file is for your custom css.  All yours*/
.banner {
    height: 100vh;
    background-image: url('/../img/background1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    width: 264px;
    height: 97px;
    margin-left: 50px;
    margin-top: 20px;
}
.countdown {
    display: flex;
}
.countdown__box {
    width: 116px;
    height: 116px;
    background: #12B89E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}